*{margin:0; padding:0}
body{
  width:960px;
  margin:20px auto;
  font-size:120%;
}
/*导航条*/
#nav {background-color:rgba(0,152,50,0.4);
      color:#fff;
      height:50px;
      width:1600px;
      line-height:50px;
      text-align:center;
      list-style:none;
}
 #nav a{
   color:rgba(0,0,0,0.7);
 }
 #nav li{
   width:7%;
   height: 50px;
    float: left;
   display:inline-table;
   position:relative;
   z-index:1;
 }
 #nav li .title{
   display:block;
   font-size: 110%;
   text-align: center;
 }
 #nav li .title:hover{
   background-color:rgba(255, 255, 51,0.4);
 }
 #nav li .submenu{
   width:100%;
   margin:2px auto;
   background-color: rgba(0,0,0,0);
   position:absolute;
   left:0;
   top:50px;
   display:none;
   height: 0px;
 }
 #nav li .submenu dd{
   border-top:1px dotted #ddd;
   color:rgba(0,0,0,0.7);
 }
 .select{
   width: 100px;
 }
